<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>


<!-- create navigation bar ( header) -->
<div th:replace="fragments/nav :: navbar"></div>


<br>
<br>
<br>
<br>

<div class="container">
    <div sec:authorize="!isAuthenticated()">
        <h2>Welcome to vet system. To use system please login</h2>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h2>Welcome to vet system dear <span sec:authentication="principal.username"></span></h2>
        <button type="submit" sec:disabled="isAuthenticated()">Create Account</button>
    </div>
</div>
</body>
</html>
